// Family font
$family: 'Roboto', sans-serif;

// Paragraph size
$p-size: 16px;

// colrs
$tomato: hsl(4, 100%, 67%);

$slate-grey: hsl(234, 29%, 20%);// btn bg and title color
$charcoal-grey: hsl(235, 18%, 26%);// main bg
$grey: hsl(231, 7%, 60%);// border and placeholder color
$white: hsl(0, 0%, 100%);